.container {
  padding-top: 5em;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;

  @include respond-to(xs) {
    padding-top: 7em;
  }

}

.article {

  .article-image {
    img {
      max-width: 100%;
    }
  }


  .article-content {

    script, noscript, embed, .wp-socializer {
      display: none;
    }

    .ngg-gallery-thumbnail-box {
      display: inline-block;
    }
  }
}